<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>


    <nav class="navbar navbar-expand-lg navbar-dark color-black">
        <a class="navbar-brand" href="/">ContentGen</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('contgen') }}">Content generation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('copycat') }}">Tweet gen</a>
                </li>
            </ul>
        </div>
    </nav>

    {% block header %}{% endblock %}

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    <footer id="sticky-footer" class="py-4 color-black text-white-50" style="position: absolute; bottom: 0px;width:100%">
        <div class="container text-center">
            <small>Copyright &copy; Your Website</small>
        </div>
    </footer>
    <!-- Footer -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block javascript %}{% endblock %}
</body> 
</html>