{% extends 'layout.html' %}

{% block title %}Generate Tweets{% endblock %}

{% block header %}
<center><h1 class="text-white my-3">Generate Tweets</h1></center>
{% endblock %}

{% block content %}
<div class="row rounded-lg" style="overflow: hidden;">
    <div class="col-md-4 offset-md-1 rounded-lg bg-dark py-3 text-white-50">
        {% block pageTitle %}Generate Tweets{% endblock %}
        {% block pageDesc %}Write a seed word and tweets will be generated based on it, using one of the two styles it learned (Trump, Obama){% endblock %}
        {% block dataInput %}
        <div class="control control-expanded">
            <input id="seed" cols="40" rows="5" class="Tex" type="text" placeholder="Seed" class="form-control">
        </div><br>
        <div class="control control-expanded">
            <select id="style">
                <option value="0" style="padding:3px !important;">Trump</option>
                <option value="1" style="padding:3px !important;">Obama</option>
            </select>
        </div>
        <div class="control">
            <a class="button button-primary button-block button-shadow" href="#" onclick="getGeneratedText(event)">Generate</a>
        </div>
        {% endblock %}
        {% block genData %}
            <p id="sampleHolder" class="text-white">
            </p>
        {% endblock %}                   
    </div>
</div>
{% endblock %}

{% block javascript%}
<script>
$('#sampleHolder').hide()
$('#sampleHolder').show(2500)
//$('#divID').css("background", "white");  
//$('#divID').css("background", "url( {{ url_for('static', filename='imgs/loading.gif') }} ) no-repeat center;");  
function getGeneratedText(event)
{
    event.preventDefault();
    $('#sampleHolder').text("")
    var seed = $('#seed').val()
    var style = $('#style').find(":selected").text();
    $("#contentHolder").addClass('loadingImgBackground').removeClass('normalImgBackground');
    $.ajax({
        type : 'POST',
        url : "{{url_for('generateCC')}}",
        data : {
            seed:seed,
            style:style
        },
        success: function (response) 
        {
            $("#contentHolder").addClass('normalImgBackground').removeClass('loadingImgBackground');
            sampleArray = JSON.parse(response)
            for (let index = 0; index < sampleArray.length; index++) {
                $('#sampleHolder').append('<p>'+sampleArray[index]+'</p>')
            }
        },
        error: function (xhr, ajaxOptions, thrownError) {
            $("#contentHolder").addClass('normalImgBackground').removeClass('loadingImgBackground');
            alert(xhr.status);
            alert(thrownError);
        }
    });
}

</script>
{% endblock %}