{% extends 'base.html' %}

{% block title %}Posts{% endblock %}

{% block header %}
<h1>This is the page title</h1>
{% endblock %}

{% block content %}
<h2>Hello page content</h2>
<div class="row rounded-lg" style="overflow: hidden;">
    <div class="col-md-6 bg-dark py-3">
        <form>
            <div class="row">
                <div class="col-md-12">
                    <label for="summary">Summary</label>
                </div>
                <div class="col-md-12">
                    <textarea id="sumText" cols="40" rows="15" class="form-control"></textarea>
                </div>
                <div class="col-md-12 py-2">
                    <button class="btn btn-primary" onclick="getGeneratedText(event)">Generate</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6 bg-primary" id="sampleHolder">
    </div>
</div>
{% endblock %}

{% block javascript%}
<script>

function getGeneratedText(event)
{
    event.preventDefault();
    var summary = $('#sumText').val()
    $.ajax({
        type : 'POST',
        url : "{{url_for('generate')}}",
        data : {
            summary:summary
        },
        success: function (response) 
        {
            sampleArray = JSON.parse(response)
            for (let index = 0; index < sampleArray.length; index++) {
                $('#sampleHolder').append('<p>'+sampleArray[index]+'</p>')
            }
        },
        error: function (xhr, ajaxOptions, thrownError) {
            alert(xhr.status);
            alert(thrownError);
        }
    });
}

</script>
{% endblock %}